---
---

@import "minima";

/* GLOBAL */
body {
  background-color: #000 !important;
  color: #c9d1d9 !important;
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  color: #0dff00 !important;
}

/* LINKS (ROXO) */
a {
  color: #c800ff !important;
}
a:hover {
  color: #0dff00 !important;
}

/* SEPARATORS */
hr {
  border: 1px solid #0f0f0f;
}

/* CODE */
pre, code {
  background-color: #050505 !important;
  color: #7ee787 !important;
}
