---
---

@import "minima";

/* FORCE DARK TERMINAL THEME */

body {
  background-color: #000 !important;
  color: #c9d1d9 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #00ff9c !important;
}

a {
  color: #b388ff !important;
}
a:hover {
  color: #00ff9c !important;
}

/* HEADER */
.site-header {
  background-color: #000 !important;
}

.site-title {
  color: #00ff9c !important;
}

.site-nav a {
  color: #b388ff !important;
}
.site-nav a:hover {
  color: #00ff9c !important;
}

/* CODE */
pre, code {
  background: #050505 !important;
  color: #7ee787 !important;
}
